<!DOCTYPE html>
<html> 
  <head>
    <title><%= nome %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>
    <h1><%= nome %></h1>
    <p>Olá, <%= nome %>. Seu e-mail é: <%= email %></p>
  </body>
</html>
